@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-accent-foreground-red: var(--accent-foreground-red);
  --color-accent-background-red: var(--accent-background-red);
  --color-accent-foreground-green: var(--accent-foreground-green);
  --color-accent-background-green: var(--accent-background-green);
  --color-accent-foreground-purple: var(--accent-foreground-purple);
  --color-accent-background-purple: var(--accent-background-purple);
  --color-accent-foreground-blue: var(--accent-foreground-blue);
  --color-destructive: var(--destructive);
}

:root {
  --background: #f5f3ef;
  --foreground: #ffffff;
  --border: #d4d4d4;
  --primary: #111314;
  --secondary: #606060;
  --ring: #3b3b3b;
  --input: #a8a8a8;
  --accent-foreground-red: #c71b16;
  --accent-background-red: #fff6f7;
  --accent-foreground-green: #3aa345;
  --accent-background-green: #ecffee;
  --accent-foreground-purple: #4d49f8;
  --accent-background-purple: #f4f4ff;
  --accent-foreground-blue: #68a3e9;
  --destructive: #c72c22;
}

.dark {
  --background: #272727;
  --foreground: #161819;
  --border: #3b3b3b;
  --primary: #f5f3ef;
  --secondary: #a8a8a8;
  --ring: #d4d4d4;
  --input: #3b3b3b;
  --accent-foreground-red: #c71b16;
  --accent-background-red: #31191b;
  --accent-foreground-green: #3aa345;
  --accent-background-green: #273629;
  --accent-foreground-purple: #7875fe;
  --accent-background-purple: #1f1f46;
  --accent-foreground-blue: #68a3e9;
  --destructive: #c72c22;
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
}

@layer utilities {
  .transition-theme {
    @apply transition-colors duration-150 ease-out;
  }

  .transition-opacity {
    @apply transition-opacity duration-200 ease-in-out;
  }

  .transition-transform {
    @apply transition-transform duration-200 ease-in-out;
  }
}
